body{
    background-color: pink;
    color:rgb(110, 11, 102);
}

h1{ /*the title of the cite*/
    color:darkgreen;
    text-align: center;


}

section{
    border: 3px solid grey; 
    margin-bottom: 15px;
    padding: 10px;
    background-color: lightgrey;
    height: 300px;
    width: 300px;
}


h2{
    background-color: green;
    font-size: large;
    font-weight: bolder;
}


 h3,h4{
    background-color: lightblue;
    padding: 5px;
    margin-top:0;
    margin-bottom: 10px;
    font-size: medium;
}

ul{
    list-style:circle;
    margin-left:30px;
    margin-bottom:10px;

    
}

ol{
    list-style:square;
    margin-left:30px;
    margin-bottom:10px;
}



img{  
    height: 200px;  
    width: 250px;  
    border: 7px ridge lightgreen;  
    }  
   
     
#left{    
    float: left; 

    }  

#right{    
    float: right; 
    } 



    div {
        width: 320px;
        height: 50px;
        padding: 10px;
        
        margin: 0;
      }